.map-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.map-searchbar-container {
  position: absolute;
  top: 0px;
  right: 18px;
  z-index: 1000;
  max-width: 350px;
  width: 90vw;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .map-searchbar-container {
    top: 0px;
    right: 4px;
    max-width: 98vw;
  }
} 